{% extends 'base.html.twig' %}

{% block body %}
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <p>
        <a href="https://mi.ua/mi-phones/smartfon-xiaomi-redmi-4-dark-gray-332-gb-ukrainska-versiya/">
            В магазин
        </a>
    </p>

    <p id="result"></p>
{% endblock %}